<script>
  // Identificar Blocos de links com e sem título:
  // TODO: Colocar isso no core do noosfero para qualquer bloco.
  jQuery('.link-list-block').each(function(num, el) {
    title = jQuery('.block-title', el).text().trim();
    el.className += (title=='')? ' without-title' : ' with-title';
  });

  // Identificar cabeçalho e rodabe vazios:
  // TODO: Colocar isso no core do noosfero.
  jQuery('#profile-header, #profile-footer').each(function(num, el) {
    if ( jQuery(el).html().trim() == '' ) el.className += ' empty';
  });
</script>

<div id="footer-border">
<div id="footer-box">
<div id="footer-content">

<a href="http://www.se.df.gov.br/" id="gdf"><span>SEDF</span></a>

<ul id="footer-menu">
  <li>Conheça
    <ul>
      <li><a href="/sumtec/quem-somos">Quem Somos</a></li>
      <li><a href="/site/terms">Termos de Uso</a></li>
      <li><a href="/doc">Documentação</a></li>
            <!-- <li><a href="/profile/sumtec/plugin/custom_forms/show/2">Fale Conosco</a></li> -->
    </ul>
  </li>
    <li>Colabore
    <ul>
      <li><a href="/ajuda/fale-conosco">Sugerir uma Notícia</a></li>
      <li><a href="/ajuda/fale-conosco">Sugerir Melhorias</a></li>
      <li><a href="/ajuda/fale-conosco">Fale Conosco</a></li>
      <!-- <li><a href="/colabore/reporte-um-bug">Reportar um Bug</a></li>  -->
      <!-- <li><a href="/desenvolvimento">Desenvolvimento</a></li>  -->
    </ul>
  </li>


</ul><!-- id="footer-menu" -->
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>

<div id="copyright">
  <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Todo o conteúdo e dados da rede está disponível sob a licença <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a> exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.</p>

  <p><a href="http://noosfero.org/" target="_blank">Noosfero</a>, <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a>, desenvolvido por <a href="http://colivre.coop.br/" target="_blank">Colivre</a>
  </p>


</div><!-- id="copyright" -->

</div><!-- id="footer-content" -->
</div><!-- id="footer-box" -->
</div><!-- id="footer-border" -->
