<!-- <div id="barra-psocial">
 <div id="assets-menu">
  <ul>
    <%= generate_assets_menu %>
  </ul>
</div>  

<script type="text/javascript">
  jQuery(function($) {
    $("#site-title, #assets-menu").mouseover(function() {
      clearTimeout( window.closeAssetsTimeout );
      $("#assets-menu").slideDown(400);
    });
    $("#site-title, #assets-menu").mouseout(function() {
      window.closeAssetsTimeout =
      setTimeout( function() { $("#assets-menu").slideUp(400); }, 500 );
    });
  });</script> 
</div> fim id="assets-menu" -->
<div id="nav"><a href="/search/articles"><span class="icon-menu-articles"></span>Artigos</a> | <a href="/search/people">Pessoas</a> | <a href="/search/communities">Comunidades</a> | <a href="/search/events">Eventos</strong></a></div> 
